
.User{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  column-gap: 10px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.Profile{
  width: 100px;
}

.Suspend{
  background-color: rgb(219, 219, 3);
  padding: 5px 10px;
  border: 1px solid yellow;
  border-radius: 5px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 5px;
}

.Delete{
  background-color: brown;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: 5px;
}