.BODY{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Login {
  width: 350px;
  height: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) ;
  background-color: white;
}

hr{
  width: 80%;
  align-self: center;

}

.Login input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(167, 167, 167);
  outline: none;
  border-radius: 5px;
}

.Login input:hover{
  background-color: #eee;
}

.Loginbtn{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 164, 170);
  color: white;
  margin-top: 10px;
}

.Login small{
  color: rgb(85, 85, 85);
}