.Body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 50px;
}

.AddPost {
  background-color: rgb(204, 86, 86);
  width: 100px;
  border-radius: 50px;
  border: 2px solid rgb(0, 176, 182);
  position: fixed;
  bottom: 80px;
  right: 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.AddPost:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgb(0, 0, 0);
  transition: 0.1s ease-in;
}