.CreateBlogPage {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  /* box-sizing: border-box; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

input, textarea{
  border: none;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
  width: 70%;
}

textarea{
  max-width: 70%;
  min-width: 70%;
  min-height: 30%;
  min-height: 30%;
}

button{
  width: 70%;
  background-color: rgb(0, 161, 161);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
