.Footer{
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(199, 199, 199);
  text-align: center;
  align-content: center;
  position: relative;
}

.Top{
 position: absolute;
 font-size:x-large;
 top: 20px;
 right: 20px;
 padding: 5px 15px;
 background-color: black;
 border-radius: 50%;
 /* transition: 3s ease; */
}

.Top:hover{
 border: 1px solid white;
 cursor: pointer;
}