.Card{
  width: 300px;
  border: 1px solid rgb(0, 161, 161);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  /* cursor: pointer; */
}

.BlogImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* margin-bottom: 20px; */
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.BlogTitle{
  margin-top: 200px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.9);
}

.BlogBody{
  color: rgba(0, 0, 0, 0.8);
  line-height: 20px;
}

.BlogMeta{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.updateNdelete{
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 1.5;
  background-color: aliceblue;
  /* padding: 5px; */
  border-radius: 5px;
  box-shadow: 0.1px 1px 5px rgba(0, 0, 0, 0.5);
}

.update{
  color: green;
  padding: 0 5px;
  cursor: pointer;
}

.update:hover{
  background-color: green;
  border-radius: 5px;
  color: white;
}

.delete{
  color: red;
  padding: 0 5px;
  cursor: pointer;
}

.delete:hover{
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  color: white;
  padding: 0 7px;
}

.like{
  top: 220px;
  right: 20px;
  position: absolute;
  scale: 1.3;
  opacity: 0.5;
  cursor: pointer;
}