.Search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.Search label{
  display: flex;
  width: 40%;
}

.Input{
  padding: 10px 20px;
  width: 80%;
  border-radius: 25px 0 0 25px ;
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
  border-right: none;
}

.SearchBtn{
  padding: 10px 20px;
  width: 20%;
  border-radius:0  25px 25px 0 ;
  border-color: rgba(0, 0, 0, 0.5);
}